.card-block {
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    max-width: 215px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.2s;
    border-radius: 10px;
}

.card > img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Button for Canceling Sale */
.card-block .cancel-button  {
    background-color: #e74c3c;
    display: inline-block;
    margin-top: 10px;
    padding: 9px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%; /* Button takes full width for consistency */
}

.card-block .cancel-button :hover {
    background-color: #c5594c;
}

.card-block .buy-button {
    display: inline-block;
    margin-top: 7px;
    padding: 9px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%; /* Button takes full width for consistency */
}

.card-block .buy-button:hover {
    background-color: #5998c2;
}

.owner-text-card {
    font-size: 11px;
    color: rgb(179, 4, 48);
}

.owner-text-card span {
    font-size: 10.5px;
    color: rgb(170, 15, 41);
    
}

.you-owner {
    color: #76bafa;
}


