h3{
    margin: 0;
}
.card-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    max-width: 70%;
    max-height: 75%;
    overflow: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #666;
}


/* Card Title Section */
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}

.card-title h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.card-title p {
    font-size: 1rem;
    color: #666;
}

/* Card Information Section */
.card-info {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card-info-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.card-info-img img {
    max-width: 100%;
    height: 40%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Info Columns */
.backCol {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Information Blocks */
.info-col h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 5px;
}

.hp, .type, .evolvesFrom, .attacks, .weaknesses, .resistances, .retreatCost, .rarity, .set-info, .flavor-text, .pokedex-number {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Attack Details */
.attacks .attack {
    margin-bottom: 10px;
}

.attacks .attack strong {
    font-size: 1.1rem;
    color: #555;
}

/* Set Information */
.set-info p, .flavor-text p, .pokedex-number p {
    font-size: 0.95rem;
    color: #666;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .popup-content {
        width: 95%;
        padding: 20px;
    }

    .card-info {
        flex-direction: column;
    }

    .card-info-img {
        margin-bottom: 20px;
    }
}